<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Könyvár</title>
    <link rel="stylesheet" href="../assets/css/app.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" style="color: black !important; font-size: larger; font-weight: bold;" href="#">Könyvtár katalógus</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item lgdOut">
                    <a class="nav-link" href="#authors">Szerzők</a>
                </li>
                <li class="nav-item lgdOut">
                    <a class="nav-link" href="/Frontend/views/konyvek.html" >Könyvek</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</header>
    <main>
    <div class="container col">
        <div class="container mt-5" style="width: 50%;" >
           
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr id="tr">
                        <th scope="col">#</th>
                        <th scope="col">Név</th>
                        <th scope="col">Születési dátum</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                   <!-- Ide jönnek az adatok :)-->
                </tbody>
                <tfoot>
                   
                </tfoot>
            </table>
        </div>
        
        <a class="btn btn-primary" href="/Frontend/views/authorUpload.html">Új szerző hozzáadása</a>

</main>
    <script src="../assets/js/authors.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
</body>
</html>