<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Könyvár</title>
    <link rel="stylesheet" href="../assets/css/app.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
</head>
<body>
<header><nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" style="color: black !important; font-size: larger; font-weight: bold;" href="#">Könyvtár katalógus</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item lgdOut">
                    <a class="nav-link" href="/Frontend/views/index.html"">Szerzők</a>
                </li>
                <li class="nav-item lgdOut">
                    <a class="nav-link" href="#books" >Könyvek</a>
                </li>
            </ul>
        </div>
    </div>
</nav></header>
    <main>

        <a class="btn btn-primary m-3" href="/Frontend/views/konyvek.html">Vissza</a>
    <div class="container col">
        <div class="container mt-5 mb-5" style="width: 50%;">
            <h2>Új adatok felvitele:</h2>
            <form id="addProductForm"  ">
                <div class="col mb-3 mt-4">
                    <div class="col mb-3">
                        <label for="bookTitle">Könyv címe:</label>
                        <input type="text" class="form-control" id="bookTitle" required>
                    </div>
                    <div class="col mb-3">
                        <label for="releaseDate">Megjelenés dátuma:</label>
                        <input type="date" class="form-control" id="releaseDate" required>
                    </div>
                    <div class="col mb-3">
                        <label for="ISBNnumber">ISBN szám:</label>
                        <input type="text" class="form-control" id="ISBNnumber" required>
                    </div>

                    <div class="col mb-3">
                    <label for="authorName">szerző:</label>
                    <select class="form-select" id="authorName" aria-label="Default select example">
                        
                       
                      </select>

                </div>
                <button type="button" class="btn btn-primary" onclick="Upload()">Hozzáadás</button>
            </form>
        </div>
        
    </div>
</main>
    <script src="../assets/js/uploadBooks.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
</body>
</html>